{% extends 'base.html.twig' %}

{% block title %}Your account{% endblock %}

{% block body %}
    <div class="modifPersonnalInfo">
        <h1>Vos informations</h1>
        <form action="{{ path("my_account_change") }}" method="post">
            <input type="hidden" value="{{ app.user.membre.id }}" name="id">
            <label>
                <input value="{{ app.user.membre.lastName }}" name="lastName" placeholder="nom*" required>
            </label><br>
            <label>
                <input value="{{ app.user.membre.firstName }}" name="firstName" placeholder="prenom*" required>
            </label><br>
            <label>
                <input value="{{ app.user.membre.phone }}" name="phone" placeholder="phone">
            </label><br>
            <label>
                <input value="{{ app.user.email }}" name="email" placeholder="email*" type="email" required>
            </label><br>
            <label>
                <input type="password" name="password" placeholder="mot de passe*" required>
            </label><br>
            <button type="submit">modifier</button>
            <span>Les champs marqués d'un * sont obligatoire</span>
        </form>
    </div>

{% endblock %}
