{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="connexion">
        <h1 class="connexionTitle">Connexion</h1>
        <form method="post">
            <p><label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" autocomplete="email" required autofocus></p>
            <p><label for="inputPassword">Password</label>
            <input type="password" name="password" autocomplete="current-password" required></p>
            <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}">

            <button type="submit">Sign in</button>
        </form>
    </div>
    <div class="returnBtn">
        <a href="{{ path("app_newAccount") }}">Créer un compte</a>
        <a href="{{ path("index") }}">Retour</a>
    </div>
{% endblock %}
