{% extends 'base.html.twig' %}
{% block title %}New compte{% endblock %}

{% block body %}
    <div class="newaccount">
        <h1>Création de compte</h1>
        <form method="post" onsubmit="return checkPassword()">
            <input name="LastName" placeholder="Nom*" required>
            <input name="FirstName" placeholder="Prenom*" required>
            <input type="tel" name="Phone" placeholder="Telephone">
            <input type="email" name="Mail" placeholder="Mail*" required>
            <input type="password" id="password" name="password" placeholder="Mot de passe*" required> <span id="weak-password-message"></span>
            <button type="submit">Créer</button>
            <span>Les champs marqués d'un * sont obligatoire</span>
        </form>
    </div>
    <div class="returnBtn">
        <a href="{{ path("app_login") }}">Se connecter</a>
        <a href="{{ path("index") }}">Retour</a>
    </div>

    <script>
        function checkPassword()
        {
            let submit = true;
            const password = document.getElementById('password').value;
            const message = document.getElementById("weak-password-message");

            if(!password.match(/^(?=.*[!@#$%^&*-])(?=.*[0-9])(?=.*[A-Z]).{8,}$/))
            {
                message.innerHTML = "**Mot de passe faible";
                submit = false;
            }

            return submit;
        }
    </script>
{% endblock %}