{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Hackat'Web{% endblock %}

{% block body %}

    {% if errorLogin is defined %}
        <div class="alert alert-danger">{{errorLogin}}</div>
    {% endif %}

    <div class="listeHackathons">
        <p class="titre">Les Hackathons futur | Inscrivez-vous !!!</p>
        <div>
            {% for unHackathon in lesHackathonFutur %}
                <li>
                    <a href="{{ path("showHackathon", {id: unHackathon.id}) }}"> {{ unHackathon.name }}</a>
                </li>
            {% endfor %}
        </div>

        <p class="titre">Les hackathons en cours | Les inscriptions sont finies</p>
        <div>
            {% for unHackathon in lesHackathonsEnCours %}
                <li>
                    <a href="{{ path("showHackathon", {id: unHackathon.id}) }}"> {{ unHackathon.name }}</a>
                </li>
            {% endfor %}
        </div>

        <p class="titre">Les hackathons passés | Vous les avez manqué</p>
        <div>
            {% for unHackathon in lesHackathonsFinis %}
                <li>
                    <a href="{{ path("showHackathon", {id: unHackathon.id}) }}"> {{ unHackathon.name }}</a>
                </li>
            {% endfor %}
        </div>
    </div>
{% endblock %}
