/* global */
body
{
    margin: 0 auto;
    background-color: rgb(251 245 241);
}

/* nav */
nav
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

nav a
{
    padding: 20px;
    text-decoration: none;
    color: black;
}

nav a:hover
{
    text-decoration: black underline;
}

nav a:active
{
    background-color: whitesmoke;
}

nav img
{
    width: 7%;
    padding-left: 6%;
}

nav div
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 6%;
}

/* index */
.listeHackathons
{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
}

.listeHackathons .titre
{
    margin-top: 10%;
    font-size: 30px;
    margin-bottom: 40px;
}

.listeHackathons div
{
    background-color: rgba(102, 51, 153, 0.1);
    height: 200px;
    width: 100%;
    overflow: auto;
    font-size: 1.5vw;
    list-style-type: '-';
}

.listeHackathons div ul li
{
    text-align: left;
}

.listeHackathons a
{
    color: black;
    text-decoration: none;
}

.listeHackathons a:hover
{
    text-decoration: black underline;
}

.listeHackathons a:active
{
    background-color: whitesmoke;
}

/* detaille hackathon (showHackathon) */
.detailHackathon
{
    width: 90%;
    margin: auto;
}

.detailHackathon li {
    margin: 15px auto;
}

.detailHackathon div a
{
    position: absolute;
    left: 10%;
    background-color: rgb(228 216 228);
    border-radius: 8px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.detailHackathon div a:hover
{
    text-decoration: black underline;
}

.detailHackathon div a:active
{
    background-color: rgb(219 202 219);
}

.detailHackathon div h1
{
    text-align: center;
}

.detailHackathon ul
{
    margin-top: 100px;
    padding-left: 0;
    list-style: none;
    font-size: 20px;
}

.container-inscription {
    position: relative;
    margin-top: 20px;
    padding: 3px;
    background-color: rgba(102, 51, 153, 0.1);
    width: 100%;
}

.container-inscription form {
    margin: 13px auto;
}

.container-inscription label:before {
    content: "-";
}

.container-inscription input[type=checkbox] {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    border: 1px solid rgb(120 120 120);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    float: right;
}

.container-inscription input[type=checkbox]:checked {
    background-color: rgb(50 150 255);
}

.container-inscription input[type=submit] {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -40px;
    padding: 4px 6px;
    font-size: 15px;
}

.spacer
{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    height: 1px;
    width: 40px;
    background-color: #868686;
}

/* page info personelle */
.modifPersonnalInfo
{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    text-align: center;
}

.modifPersonnalInfo form
{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
    border: black solid 1px;
}

.modifPersonnalInfo form input
{
    margin-bottom: 1.5vw;
}

.modifPersonnalInfo form span {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: red;
    font-size: 10px;
}

/* connexion page */
.connexionTitle
{
    text-align: center;
}
.connexion
{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}

.connexion form
{
    background-color: white;
    border: black solid 1px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
}

.connexion form p
{
    padding-bottom: 10px;
    overflow: hidden;
}

.connexion form p label
{
    float: left;
}

.connexion form p input
{
    float: right;
}

.returnBtn a
{
    text-decoration: none;
    color: black;
    background-color: rgba(102, 51, 153, 0.1);
    padding: 4px 20px;
}

.returnBtn
{
    position: fixed;
    right: 50px;
    bottom: 30px;
}

.newaccount
{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}

.newaccount form
{
    position: relative;
    background-color: white;
    border: black solid 1px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
}

.newaccount form p
{
    padding-bottom: 20px;
    overflow: hidden;
}

.newaccount form input,
.newaccount form button
{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.newaccount form button
{
    margin-top: 5px;
}

.newaccount form span
{
    display: block;
    text-align: left;
    color: red;
    font-size: 15px;
}

.newaccount form span#weak-password-message {
    margin-top: -10px;
    margin-bottom: 10px;
}