<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{ asset("img/logo.png") }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <nav>
        <img src="{{ asset("img/logo.png") }}">
        <div>
            <a href="{{ path("index") }}">Les Hackathons</a>

            {% if app.user %}
                <a href="{{ path("app_logout") }}">Déconnexion</a>
                <a href="{{ path("my_account") }}">Mon compte</a>
                {% if is_granted('ROLE_PARTICIPANT') %}
                    <span>Mes hackathons</span>
                {% endif %}
            {% else %}
                <a href="{{ path("app_login") }}">Connexion</a>
                <a href="{{ path("app_newAccount") }}">Créer un compte</a>
            {% endif %}
        </div>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
