{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur HackatWeb{% endblock %}

{% block body %}
    <div class="detailHackathon">
        <div>
            <a href="{{ path("index") }}">Retour</a>
            <h1>{{ hackathon.name }}</h1>
        </div>
        <ul>
            <li>Date : {{ hackathon.date.format("d-m-Y") }}</li>
            <div class="spacer"></div>
            <li>Lieu : {{ hackathon.location }}</li>
            <div class="spacer"></div>
            <li>Objectif : {{ hackathon.target }}</li>
            <div class="spacer"></div>
            <li>Sujet : {{ hackathon.topic }}</li>
            <div class="spacer"></div>
            <li>Nombre de place : {{ hackathon.nbentrant }}</li>
            <div class="spacer"></div>

            <li>Description du hackathon :<br/><br/> {{ hackathon.description }}</li>
            {% if isOrganisateur and lesInscrits is not empty %}
                <div class="spacer"></div>
                <li>
                    Liste des inscrits :
                    <div class="container-inscription">
                        <form action="{{ path("add_valid_inscription") }}" method="POST">
                            {% for inscrit in lesInscrits %}
                                <label for="checkbox">  {{ inscrit.membre.firstname ~ " " ~ inscrit.membre.lastname }} </label>
                                <input type="hidden" name="idHackathon" value="{{ hackathon.id }}">
                                {% if inscrit.isvalid == 1 %}
                                    <input class="checkbox" type="checkbox" id="checkbox" name="idInscrits[]" value="{{ inscrit.id }}" checked>
                                {% else %}
                                    <input class="checkbox" type="checkbox" id="checkbox" name="idInscrits[]" value="{{ inscrit.id }}">
                                {% endif %}
                                <br/><br/>
                            {% endfor %}
                            <input id="submitButton" type="submit" value="Valider les inscriptions">
                        </form>
                    </div>
                </li>
            {% endif %}
        </ul>

        {% if is_granted('IS_AUTHENTICATED_FULLY') and hackathon.caninscription and isParticipant %}
            {% if isInscrit == false %}
            <form action="{{ path("ajouteUserHackathon", {idHackathon: hackathon.id, idUser: app.user.membre.id}) }}" method="post">
                <button type="submit" name="inscription">S'inscrire</button>
            </form>
            {% else %}
                <form action="{{ path("deleteUserHackathon", {idHackathon: hackathon.id, idUser: app.user.membre.id}) }}" method="post" onsubmit="return confirm('Êtes vous sûr de vouloir annuler votre inscription ?')">
                    <button type="submit" name="delete">Annuler l'inscription</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}